body.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark-mode {
    background-color: #333333;
    color: #ffffff;
  }
  
  .active {
    font-weight: bold;
  }
  
  /* Style spécifique pour les boutons si nécessaire */
  .btn-link {
    cursor: pointer;
  }
  